
<div class="toolbar">
  <div class="leftItem regularButton">
    <a href="<%= url_for :action => :end_session%>">End</a>
  </div>
</div>

<br>
<br>

<p/>
<div class="toolbar">
  <div class="centerItem regularButton">
    <a href="#dummy" onClick="sendMessage('high');">High</a>
  </div>
</div>
<p/>
<div class="toolbar">
  <div class="centerItem regularButton">
    <a href="#dummy" onClick="sendMessage('med');">Med</a>
  </div>
</div>
<p/>
<div class="toolbar">
  <div class="centerItem regularButton">
    <a href="#dummy" onClick="sendMessage('low');">Low</a>
  </div>
</div>
<p/>
<div class="toolbar">
  <div class="centerItem regularButton">
    <a href="#dummy" onClick="sendMessage('off');">Off</a>
  </div>
</div>
<!-- dummy link for ajax calls -->
<div id="#dummy"></div>

<script type="text/javascript" >

  function dummyFunction(){}

  function sendMessage(msg) {

    $.ajax({
      url: '/app/Session/send_ajax_message',
      data: {'cmd' : msg},
      success: function(data) {
         // $('.result').html(data);
      }
    });
  }
</script>

