<div class="pageTitle">
  <h1>LoveBzz</h1>
</div>


<% if $is_device_setup == false %>

  <% WebView.navigate url_for(:controller => :Settings, :action => :device_setup) %>

<% else %>

  <% WebView.navigate url_for(:controller => :Session, :action => :use_type) %>

<% end %>
