<div class="pageTitle">
  <h1>LoveBzz</h1>
</div>

<!-- 
Need the implement the following:
	if a device is already set up, 
		show device name on top
	else
		show set up device button
-->

<div class="toolbar">
  <div class="centerItem regularButton">
    <a href="<%= url_for :controller => :Communication, :action => :selectchannel%>">
			Setup vibe
		</a>
  </div>
</div>

<br>
<br>
<p/>
<div class="toolbar">
	<div class="centerItem regularButton">
		<a href="">Bzz me once!</a>
	</div>
</div>
<p/>
<div class="toolbar">
	<div class="centerItem regularButton">
		<a href="<%= url_for :controller => :Communication, :action => :session %>">
			Start session 
		</a>
	</div>
</div>
<p/>

