<div class="pageTitle">
  <h1>LoveBzz</h1>
</div>

<!-- 
Need the implement the following:
	if a device is already set up, 
		show device name on top
	else
		show set up device button
-->

<% if $is_device_setup == false %>

  <div class="toolbar">
    <div class="centerItem regularButton">
      <a href="<%= url_for :controller => :Session, :action => :selectchannel%>">
        Setup vibe
      </a>
    </div>
  </div>

<% else %>

  <br>
  <br>
  <p/>
  <div class="toolbar">
    <div class="centerItem regularButton">
      <a href="<%= url_for :controller => :Session, :action => :send_bzz_message%>">
        Bzz me once!
      </a>
    </div>
  </div>
  <p/>
  <div class="toolbar">
    <div class="centerItem regularButton">
      <a href="<%= url_for :controller => :Session, :action => :controlpanel %>">
        Start session 
      </a>
    </div>
  </div>
  <p/>

<% end %>
