<div id="pageTitle">
    <h1>New Partner</h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :index %>
</div>


<div id="content">

    <form method="POST" action="<%= url_for :action => :create %>">
	    <input type="hidden" name="id" value="<%= @partner.object %>"/>
        <table>
    		
    		  <tr>
    			  <td class="itemLabel">Bzzid: </td>
    			  <td class="itemValue"><input type="text" name="partner[BzzID]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Name: </td>
    			  <td class="itemValue"><input type="text" name="partner[Name]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Nick: </td>
    			  <td class="itemValue"><input type="text" name="partner[Nick]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Phone: </td>
    			  <td class="itemValue"><input type="text" name="partner[Phone]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Email: </td>
    			  <td class="itemValue"><input type="text" name="partner[Email]"/></td>
    		  </tr>
    		
    		  <tr>
    			  <td class="itemLabel">Twitter: </td>
    			  <td class="itemValue"><input type="text" name="partner[Twitter]"/></td>
    		  </tr>
    		
        </table>
        <input type="submit" class="standardButton" value="Create" />
    </form>
</div>