<div class="pageTitle">
  <h1>Session with <%= @partner.bzzid %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show %>">Back</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :info, :id => @partner.object %>">Info</a>
  </div>
</div>


<div class="toolbar">
	<ul>
		<li>
  		<div class="leftItem regularButton">
    		<a href="">High</a>
  		</div>
		</li>
		<li>
  		<div class="leftItem regularButton">
    		<a href="">Med </a>
  		</div>
		</li>
		<li>
  		<div class="leftItem regularButton">
    		<a href="">Low </a>
  		</div>
		</li>
		<li>
  		<div class="leftItem regularButton">
    		<a href="">Off </a>
  		</div>
		</li>
	</ul>
</div>


