<div class="pageTitle">
  <h1>Session with <%= @partner.bzzid %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show %>">Back</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :info, :id => @partner.object %>">Info</a>
  </div>
</div>

<br><br>
<p/>
<div class="toolbar">
	<div class="centerItem regularButton">
		<a href="">High</a>
	</div>
</div>
<p/>
<div class="toolbar">
	<div class="centerItem regularButton">
		<a href="">Med </a>
	</div>
</div>
<p/>
<div class="toolbar">
	<div class="centerItem regularButton">
		<a href="">Low </a>
	</div>
</div>
<p/>
<div class="toolbar">
	<div class="centerItem regularButton">
		<a href="">Off </a>
	</div>
</div>


