
<div class="toolbar">
  <div class="leftItem backButton">
    <a href="">Cancel</a>
  </div>
</div>

<br><br>
<div class="content">
	<h2>
		<span class="title">Select connection</span>
	</h2>
</div>
<br><br>
<div class="toolbar">
	<div class="leftItem">
		<a href="">Bluetooth</a>
	</div>
</div>
<br>
<div class="toolbar">
	<div class="leftItem">
		<a href="">Audio</a>
	</div>
</div>




