<br>
<br>
<div class="content">
  <h2>
    <span class="title">Vibe setup</span>
  </h2>
</div>
<br>
<br>
<div class="toolbar">
  <div class="leftItem">
    <a href="<%= url_for  :action => :select_bluetooth_channel%>">Bluetooth</a>
  </div>
</div>
<br>
<div class="toolbar">
  <div class="leftItem">
    <a href="<%= url_for :action => :select_audio_channel%>">Audio</a>
  </div>
</div>
<br>
<div class="toolbar">
  <div class="leftItem">
    <a href="<%= url_for  :action => :select_test_channel%>">Test</a>
  </div>
</div>