<div class="toolbar">
  <h3>  <span class="title">Setup Vibe</span>   </h3>
</div>

<div class="content">

  <ul>

    <li>
      <a href="<%= url_for :action =>:select_bluetooth_channel %>">
        <span class="title">Bluetooth</span>
        <span class="disclosure_indicator"></span>
      </a>
    </li>

    <li>
      <a href="<%= url_for :action =>:select_audio_channel %>">
        <span class="title">Audio</span>
        <span class="disclosure_indicator"></span>
      </a>
    </li>

    <li>
      <a href="<%= url_for :action =>:select_test_channel %>">
        <span class="title">Test</span>
        <span class="disclosure_indicator"></span>
      </a>
    </li>

  </ul>
</div>
