<div class="toolbar">
  <h3>  <span class="title">Setup Vibe</span>   </h3>
</div>

<div class="content">

  <ul>

    <li>
      <a href="<%= url_for :action =>:select_channel, :query => {:channel => :bluetooth} %>">
        <span class="title">Bluetooth</span>
        <span class="disclosure_indicator"></span>
      </a>
    </li>

    <li>
      <a href="<%= url_for :action =>:select_channel, :query => {:channel => :audio} %>">
        <span class="title">Audio</span>
        <span class="disclosure_indicator"></span>
      </a>
    </li>

    <li>
      <a href="<%= url_for :action =>:select_channel, :query => {:channel => :test} %>">
        <span class="title">Test</span>
        <span class="disclosure_indicator"></span>
      </a>
    </li>

  </ul>
</div>
