<div class="toolbar">
  <h3>  <span class="title">Setup Vibe</span>   </h3>
</div>

<div class="content">
  <ul>
    <% ['Bluetooth','Audio','Test'].each do |dev| %>
      <li>
        <a href="<%= url_for :action =>:select_channel, :query => {:channel => dev.downcase.to_sym} %>">
          <span class="title"><%= dev %></span>
          <span class="disclosure_indicator"></span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
