<br>
<br>
<div class="toolbar">
  <h3>  <span class="title">Select theme</span>   </h3>
</div>

<div class="content">

  <ul>

    <li>
      <a href="<%= url_for :action =>:select_controlpanel %>">
        <span class="title">Control Panel</span>
        <span class="disclosure_indicator"></span>
      </a>
    </li>

    <li>
      <a href="<%= url_for :action =>:select_reversecontrolpanel %>">
        <span class="title">Reverse Control Panel</span>
        <span class="disclosure_indicator"></span>
      </a>
    </li>

  </ul>
</div>
